<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="../style/navindex.css">
</head>
<body>
  
<!-- partial:index.partial.html -->
<section class="parllaxsec">
  <main>
    <div class="tv">
      <img src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/wilhelm/tv.png"  alt="imgtv"/>
    </div>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <header class="header">
          <div class="container">
            <ul class="navigation">
              <li class="navigation__item nav-text">
                <a href="./portfolio.html">protflio</a>
              </li>
              <li class="navigation__item nav-text">
                <a href="./blog.html">blog</a>
              </li>
              <li class="navigation__item nav-text">
                <a href="./work.html">work</a>
              </li>
            </ul>
        
            <a href="/" class="logo">
              <span class="text-black">krown</span>
            </a>
            
            <a href="../../components/src/contact.html" class="subscribe">
              <span class="text-white">contact</span>
            </a>
          </div>
        </header>
        
        <section class="section-1">
          <div class="container">
            <h1 class="section-1__title title-h1 text-black">Welcome – A Little About Us</h1>
            <p class="section-1__desc desc-1 text-black">At Krown Studio, we bring your visions to life with cutting-edge creativity and exceptional design. From branding to digital experiences, we craft solutions that make you stand out. Our passion lies in transforming ideas into impactful visuals that leave a lasting impression. With innovation at our core, we ensure every project reflects excellence and originality.</p>
            <img class="section-1__wilhelm" src="../../3party/image/owner.jpg" alt="img1"/>
          </div>
          
          <h2 class="section-1__subtitle title-h2 text-black">Design is the silent ambassador of your brand.
            Creativity isn’t a choice; it’s our identity.
            We don’t follow trends—we create them.
            At Krown Studio, your ideas find their true expression.</h2>
          
        </section>
        <section class="section-2">
          <div class="container">
            <div class="learn-more grid-container">
              <div class="learn-more__item">
                <div class="button-orange">Dive Deeper</div>
              </div>
              <div class="learn-more__item">
                <p class="desc-1">
                  At KROWMBRANDINGCO, we redefine creativity with a bold and innovative approach. From branding to digital experiences, we craft unique identities that leave a lasting impression. Our team transforms ideas into powerful visual stories, ensuring that your brand stands out in a competitive world.</p>
                
              </div>
              <div class="learn-more__item">
                <p class="desc-1">
                  Located at KROWM STUDIOS, 1st Floor, Opp. to Reliance Mall, Above Belgian Waffles, Perundurai Road, Erode, we are at the heart of design excellence. Step into our space and discover how we blend strategy, creativity, and technology to bring your vision to life. Let’s build something extraordinary together!</p>
                
              </div>
              <div class="learn-more__item">
                <img class="section-2__first-image" src="../../3party/image/indeximg1.PNG" alt="img"/>
              </div>
              <div class="learn-more__item">
                <img class="section-2__second-image" alt="img" src="../../3party/image/indeximg2.PNG" />
              </div>
              <div class="learn-more__item">
                <img class="section-2__third-image" alt="img" src="../../3party/image/indeimg.3.PNG" />
              </div>
            </div>
          </div>
        </section>
        <section class="section-3">
          
          <div class="container">
            <h1 class="section-3__title title-h3 text-white">
              Creativity is our crown, innovation is our kingdom.
            </h1>
            <div class="section-3__list">
              <div class="section-3__item">
                <div class="section-3__item-image">
                  <img src="../../3party/image/navindex/branding1.jpg" alt="img" />
                </div>
                <h4 class="section-3__item-title title-h4 text-white">
                  Branding
                </h4>
                <div class="section-3__item-text">
                  <p class="desc-1 text-white">
                    Branding is more than just a logo—it’s the soul of your business. At KROWMBRANDINGCO, we craft unique brand identities that resonate with your audience. From strategy to execution, we ensure your brand stands strong, memorable, and impactful.</p>
                </div>
              </div>
              <div class="section-3__item">
                <div class="section-3__item-image">
                  <img  alt="img" src="../../3party/image/navindex/desing1.jpg" />
                </div>
                <h4 class="section-3__item-title title-h4 text-white">
                  Design
                </h4>
                <div class="section-3__item-text">
                  <p class="desc-1 text-white">
                    Great design speaks louder than words. Our creative team at KROWM STUDIOS blends aesthetics with functionality to create visually stunning designs. Whether it’s web, print, or digital media, we bring ideas to life with precision and innovation</p>
                </div>
              </div>
              <div class="section-3__item">
                <div class="section-3__item-image">
                  <img alt="img" src="../../3party/image/scrollimg/8.jpeg" />
                </div>
                <h4 class="section-3__item-title title-h4 text-white">
                  Photography
                </h4>
                <div class="section-3__item-text">
                  <p class="desc-1 text-white">
                    A picture is worth a thousand words, and we make every shot count. Specializing in high-quality photography, we capture moments, emotions, and stories that leave a lasting impression. From portraits to commercial shoots, our lens tells your brand’s story beautifully.</p>
                </div>
            </div>
              <div class="section-3__item">
                <div class="section-3__item-image">
                  <img alt="img" src="../../3party/image/navindex/model1.PNG" />
                </div>
                <h6 class="section-3__item-title title-h4 text-white">
                  Model
                </h6>
                <div class="section-3__item-text">
                  <p class="desc-1 text-white">
                    Models bring creativity to life, making every concept feel real and engaging. At KROWM STUDIOS, we collaborate with professional models to enhance branding, advertisements, and fashion projects. Whether for campaigns or portfolios, we ensure striking visuals that captivate audiences.</p>
                </div>
              </div>
          </div>
          </div>
        </section>
        <section class="section-4">
          <div class="section-4__title">
            Videooo Editionggggggggggggggggggggggggg...........
            
            <div class="first-image">
            <video src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/wilhelm/video_1.webm" autoplay loop muted preload />
          </div>
          <div class="second-image">
            <video src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/wilhelm/video_2.webm" autoplay loop muted preload />
          </div>
          <div class="third-image">
            <video src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/wilhelm/video_3.webm" autoplay loop muted preload />
          </div>
          <div class="fourth-image">
            <video src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/wilhelm/video_4.webm" autoplay loop muted preload />
          </div>
          </div>
        </section>
        <section class="section-5">
          <div class="section-5__wrapp">
            <div class="section-5__item section-5__purple">
              <div class="text-block">
                <h1 class="title-h1">+1000</h1>
                <h2 class="title-h2">Project</h2>
              </div>
            </div>
            <div class="section-5__item section-5__green">
              <div class="text-block">
                <h1 class="title-h1 animated-item">500+</h1>
                <h5 class="title-h5 animated-item">Recular cilent</h5>
                <p class="desc-1 animated-item">"we continue to deliver outstanding branding, design, photography, and modeling solutions that leave a lasting impact"</p>
              </div>
            </div>
            <div class="section-5__item section-5__white">
              <div class="text-block">
                <h6 class="title-h6 animated-item">One Creative Family</h6>
                <p class="desc-1 animated-item">Join our growing community and experience innovation like never before! Your vision, our expertise – let’s create something extraordinary together.</p>
                <div class="button-orange play-button animated-item">Unleashed</div>
              </div>
              
              <div class="first-image animated-item">
                <img 
                  src="../../3party/image/navindex/baby.jpg" alt="img"/>
              </div>
              
              <div class="second-image animated-item">
                <img 
                  src="../../3party/image/navindex/actress.jpg" alt="img"/>
              </div>
            </div>
            <div>
          </div>
        </section>
      </div>
    </div>
    
  </main>
  
  <!-- <div class="mobile-plug">
    <div class="top-wrapper">
      <span class="mobile-plug__zajno-copy">
        ZAJNO CODEPEN 2023
      </span>
    </div>
    
    <div class="middle-wrapper">
      <div class="mobile-plug__image">
        <img src="https://zajno-storage0.s3.us-west-1.amazonaws.com/dev/codepen/zajno/2.gif" alt="Zajno plug"/>
      </div>
      <span class="mobile-plug__title">
        Please use this on a desktop
      </span>
      
      <span class="mobile-plug__desc">
        Tablets and mobile not supported yet
      </span>
    </div>
   
    <div class="bottom-wrapper">
      <span class="mobile-plug__zajno-copy">
        ZAJNO CODEPEN 2023
      </span>
    </div>
  </div> -->
  
</section>

<!-- partial -->
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
<script src='https://assets.codepen.io/16327/ScrollSmoother.min.js'></script>
<script src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js'></script>
<!-- <script src='https://assets.codepen.io/16327/CustomEase3.min.js'></script> -->
<script src='https://assets.codepen.io/16327/SplitText3.min.js'></script>
<script type="module" src="../script/navindex.js"></script>

</body>
</html>